<footer class="footer bg-primary text-white py-6 pt-6">
    <div class="max-w-6xl mx-auto flex flex-wrap justify-between p-2">
        <div class="w-full sm:w-1/3 mb-6">
            <h3 class="text-xl mb-2">À propos</h3>
            <p class="text-[#bbbbbb] text-sm">Découvrez les meilleurs restaurants de Lyon avec notre application. Une
                structure
                en arbre pour une navigation facile et une expérience culinaire exceptionnelle.</p>
        </div>

        <div class="w-full sm:w-1/3 mb-6">
            <h3 class="text-xl mb-2">Liens Utiles</h3>
            <ul>
                <li><a href="/" class="text-[#bbbbbb] text-sm hover:text-white">Accueil</a></li>
                <li><a href="/about" class="text-[#bbbbbb] text-sm hover:text-white">À propos</a></li>
                <li><a href="/contact" class="text-[#bbbbbb] text-sm hover:text-white">Contact</a></li>
                <li><a href="/privacy" class="text-[#bbbbbb] text-sm hover:text-white">Politique de confidentialité</a>
                </li>
            </ul>
        </div>

        <div class="w-full sm:w-1/3 mb-6">
            <h3 class="text-xl mb-2">Suivez-nous</h3>
            <a href="https://facebook.com" target="_blank" class="text-[#bbbbbb] text-sm hover:text-white">Facebook</a>
            |
            <a href="https://twitter.com" target="_blank" class="text-[#bbbbbb] text-sm hover:text-white">Twitter</a> |
            <a href="https://instagram.com" target="_blank"
                class="text-[#bbbbbb] text-sm hover:text-white">Instagram</a>
        </div>
    </div>

    <div class="text-center pt-4 border-t border-gray-600 text-[#bbbbbb] text-xs">
        <p>&copy; 2024 Flask Tree Struct: Lyon Restaurants | Tous droits réservés</p>
    </div>
</footer>